*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

html{
    scroll-padding-top: 60px; /* agrega espacio para asegurar que el contenido anclado no quede oculto detrás del header fijo */
}



header{
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin-top: 50px;  /* fixed del nabvar tenga espacio y no tape el banner */
}

main, footer{
    width: 100%;
    height: 100%;
}


.nabvar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 6.5%;
    z-index: 101; /* afecta tamb al menu hamburguesa */
    padding: 4vw;
    background-color: #BABFC0;

    position: fixed;
    top:0;

    background: rgba(36, 68, 116, 0.9);
    box-shadow: 0px 2px 20px rgba(14, 29, 52, 0.1);
    color:white;
}


.img{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 10px 30px 10px;
}


.img_banner{
    width: 100%;
    height: 40vh;
    object-fit:cover;
    object-position: center;
}

.boton_banner{
    position: absolute;
    bottom: 12px;
    right: 14px;
    
    border-radius: 60px;
    font-size: 12px;
    font-weight: 600;
    padding: 0.8vh 1vw;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    box-shadow: 0 0 0 0 black;
    transition: all 0.3s ease-in-out;
    width: 130px;
    text-align: center;

}


.boton_banner:hover{
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
  }
  


/* No se porque si no pongo ambos no funciona */
.boton_banner-texto a{
    color: black;
    text-decoration: none;
  
}

.boton_banner-texto {
    color: black;
    text-decoration: none;

}


.nabvar_abrir-menu, .navbar_cerrar{
    display: block;
    margin-right: 20px;
    width: 9vw;
    height: 4vh;
    font-size: 20px;
    border: 0;
    background-color:#4163A2;
    color:white;
    cursor: pointer;
    border-radius: 10px;
}

.nabvar_abrir-menu{
    font-size: 25px;
    color: white;
}

.navbar_cerrar{
    color:#ececec
}


.logo{
    max-width: 66px;
    height: auto;
    display: block;  /* Sin el block,  tiene un espacio en blanco adicional debajo reservado para caracteres descendentes en texto y hacia que estuviera mas arriba */
}

.nabvar_logo_nombre {
    display: flex;
    align-items: center;
    font-size: 16px ;  
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: normal;
}


.navbar_elementos{
    opacity: 0;
    visibility: hidden; 

    display: flex;
    flex-direction: column;
    position: fixed;            /* Si padre tiene fixed, el hijo tamb porque si pusiera absolute no tendria referencia cerca */
    top: 0;
    right: 0;
    bottom: 0;         /* par que el background llegue abajo */
    padding: 10%;
    background-color: #1c1c1c ;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);       /* Extiende toda la pantalla dejando el navb con mas imp */
    gap: 3vh;
    z-index: 101;
}


.navbar_elementos.visible{
    opacity: 1;
    visibility: visible;
    z-index: 101;
}


.navbar_elementos-li{
    list-style-type: none; /* saca punto li */
    display: flex;
    flex-direction: column;
  
    gap: 4vw;
    font-size: 20px;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}


.navbar_elementos-li a{
    text-decoration: none ;  /* saca subrallado li */
    color: white;
}






.empresa{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 40px;
   
}

.empresa_info-titulo{
    margin: 0 0 5px 15px;
    text-align: left;
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: #1D1D37;
}


.empresa_info-descripcion{
    text-align: left;        
    font-size: 18px;
    margin: 0 15px 10px 15px;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;

}


.empresa_info-descripcion-iconoTexto {  
    display: flex;
    align-items: flex-start; 
    gap: 15px;
    margin: 20px 15px;     
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
}

.empresa_descripcion-icono{
    font-size: 20px;
    color:#1D1D37;
}




.empresa_div-img{
    width: 100%;
    height: 30vh; 
    object-fit: cover;  /* Asegura que la imagen cubra el contenedor sin distorsionarse */
    object-position: top;
  
}


.empresa_div-img-boton {
    position: absolute;
    bottom: 15px;
    right: 15px;
    
    border-radius: 60px;
    font-size: 10px;
    font-weight: 600;
    padding: 0.9vh 1vw;
    background-color: white;
    border: 2px solid black;
    box-shadow: 0 0 0 0 black;
    transition: all 0.3s ease-in-out;
    width: 140px;
    text-align: center;
}
    





.servicios_contenedor{
    background-color: #f7f7f9;
    padding-bottom: 10px;
}

.servicios{
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 0;
    height: 100%;
    width: 100%;
}

.servicios_titulo{
    text-align: center;
    padding: 20px 0 10px 0;
    font-size: 28px;
    color:#1D1D37;
}


.servicios_card{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 16px 10px 30px 10px;
    background-color: #f7f7f9;
    border: 1px solid #dee2e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.servicios_card h3{
    padding-bottom: 6px;
    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: normal;
    text-align: left;
    padding: 0 10px 5px 10px;
}

.servicios_card-img{
    margin-bottom: 12px;
    width: 100%;
    height: 230px;
    object-fit: cover; /* Ajusta la imagen para que se recorte si es necesario */
    object-position: center;
}

.servicios_card p{
    text-align: left;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
    padding: 0 10px;

}




  
.img_camion{
    width: 100%;
    height: 300px;
    text-align: center;
    position: relative;
}


.img_camion-c1{
    width: 100%;
    height: 80% ;
    object-fit: cover;
    object-position: bottom;
    opacity: 0.6;
    filter: blur(2px)
   
}

.img_camion-titulo,
.img_camion-texto{
    position: absolute;
    left: 5%;
    top: 15%;
    color: black;
    font-size: 20px;
    padding: 10px;
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
}

.img_camion-texto{
    top: 25%;
    left: 5%;
    font-size: 14px;
    font-weight: 600;
}


.img_camion-boton{
    position: absolute;
    left: 5%;
    top: 46%;
    border-radius: 60px;
    font-size: 14px;
    font-weight: 600;
    padding: 0.8vh 1vw;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    box-shadow: 0 0 0 0 black;
    transition: all 0.3s ease-in-out;
    width: 120px;
}

.img_camion-boton:hover{
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
}

.img_camion-boton-1{
    color: black;
    text-decoration: none;
}
  
  




.contactanos{
    display: flex;
    flex-direction: column;
}

.contactanos_titulo{
    margin: 10px 15px 5px 15px;
    text-align: center;
    font-family: "Crimson Text", serif;
    font-weight:700;
    font-style: normal;
    font-size: 26px;
    color: #1D1D37;
}


.contactanos_nombre,
.contactanos_tel,
.contactanos_email,
.contactanos_consulta,
.contactanos_boton{
    font-size: 14px;
    padding: 6px;
    margin: 15px 15px 0 15px;
    font-family: "Crimson Text", serif;
    font-weight:400;
    font-style: normal;
    font-size: 16px;
    border: 1px solid #aaaaad;
}


.contactanos_consulta{
    height: auto;
    min-height: 100px;
    text-align: left;

}

.consulta_boton-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactanos_boton{
  width: 22%;
  position: relative;
  font-size: 12px;
  border: 1px solid #dee2e6;
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  background-color: white;
  box-shadow: #c0392b 0px 7px 2px, #000 0px 8px 5px;
}

.contactanos_boton:hover {
    opacity: 1;
 }

.contactanos_boton:active {
    top: 4px;
    box-shadow: #c0392b 0px 3px 2px,#000 0px 3px 5px; /* simula el presionado */
}




.whatsapp-fijo{
    position: fixed;
    bottom: 20px;
    right: 8px;
    z-index: 100;
}

.whatsapp-icon{
    width: 48px;
    height: 51px;
}


 


.footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 60px ;
    background-color:#4163A2;
    width: 100%;
    height: 100%;
    color:white;
    
    padding: 40px 24px;
}


.footer_empresa-titulo-logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer_logo{
    width: 24%;
    height: 24%;
}

.footer_empresa h3{
    font-size: 18px;
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
    padding: 5px;
}

.footer_empresa p{
    font-size: 15px;
    font-family: "Crimson Text", serif;
    font-weight:400;
    font-style: normal;
}


.footer_depositos{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 25px 0;
}

.footer_depositos h3{
    font-size: 18px;
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
    padding: 5px;
}

.footer_depositos-li{
    text-align: left;  
    list-style-type: none ; 
    font-size: 16px;
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
 }

 .footer_depositos-li li{
    padding: 2px;
}

.footer_depositos-li-telefono{
    margin-left: 5px;
}



.footer_info{
    display: flex;
    justify-content: flex-start;
}

.footer_info-iconos{
    margin-bottom: 18px;
}

.footer_info-iconos p{
    margin-right: 5px;
    margin: 10px 0;
    font-size: 18px;
    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
    text-align: left;
}

.footer_info-iconos a {  /* simepre al hacer un a se subralla auto */
    text-decoration: none;
    
}

.social-icon {
    font-size: 26px;
    margin-right: 10px ; 
    color: white;
    
}

.footer_separador{
    border-bottom: 1px solid #FFF;
    width: 100%;
    margin: 0;
    padding: 0;
}

.footer_abajo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%; 
    padding: 10px 0;
}

.footer_derechos{
    font-size: 12px;
    margin-top: 15px;
}









@media screen and (min-width: 768px) and (max-width: 1024px) {
    

    .navbar_elementos-li{
        font-size: 22px;
        gap: 3vw;
    }

    .navbar_elementos{
        padding: 8%;
    }
    
    .boton_banner{
        bottom: 14px;
        right: 18px;
        border-radius: 60px;
        font-size: 14px;
        font-weight: 600;
        padding: 0.8vh 1vw;
        width: 150px;
    }
        
    .logo{
        max-width: 78px;
    }

    .nabvar_logo_nombre {
        font-size: 22px ;  
    }


    .nabvar_abrir-menu, .navbar_cerrar{
        width: 6vw;
        height: 4vh;  
    }



       
    .empresa{
        display: flex;
        flex-direction: column;
        position: relative;
        width: calc(100% - 145px);
        margin: 0 auto;
    }

    .empresa_info-titulo{
        font-size: 30px;
    }


    .empresa_info-descripcion {
        font-size: 22px;
    }

    .empresa_div-img{
        width: 100%;
        height: auto; 
        object-fit: cover;  
        object-position: top;
    }
  
    .empresa_info-descripcion-iconoTexto span {  
        font-size: 20px;
    }


    .empresa_descripcion-icono{
        font-size: 30px;
    }

    .empresa_div-img{
        width: 100%;
        height: 25vh; 
        object-fit: cover;  
        object-position: top;
      
    }

    .empresa_div-img-boton {
        font-size: 12px;
        width: 160px;
    }

 



    .servicios_contenedor{
        background-color: #f7f7f9;
    }

    .servicios{
        display: flex;
        flex-direction: column;
      
        height: 100%;
        width: 100%;
        width: calc(100% - 100px);
        margin: 0 auto;
    }

     .servicios_titulo{
        font-size: 30px;
        margin-top: 30px ;
        padding: 30px 0 5px 0;
     }


     .servicios_card h3{
        font-size: 24px;
        padding: 0 10px 5px 10px;
    }
    
     .servicios_card-img-texto{
        font-size: 20px;
    }




    .img_camion-titulo,
    .img_camion-texto{
        position: absolute;
        left: 5%;
        top: 15%;
        color: black;
        font-size: 24px;
        padding: 10px;
        font-family: "Crimson Text", serif;
        font-weight: 700;
        font-style: normal;
        text-align: left;
    }

    .img_camion-texto{
        top: 28%;
        left: 5%;
        font-size: 18px;
        font-weight: 600;
    }

    .img_camion-boton{
        top: 44%; 
    }
    

    .contactanos{
        width: calc(100% - 100px);
        margin: 0 auto;
    }


    .contactanos_titulo{
        font-size: 30px;
        margin: 10px 15px 0px 15px;
    }

    .contactanos_nombre,
    .contactanos_tel,
    .contactanos_email,
    .contactanos_consulta,
    .contactanos_boton{
        padding: 6px;
        margin: 15px 25px 0 25px;
        font-family: "Crimson Text", serif;
        font-weight:400;
        font-style: normal;
        font-size: 18px
    }


    .whatsapp-icon{
        width: 53px;
        height: 56px;
    }


    .footer_empresa h3{
        font-size: 24px;
        font-weight: 600; 
    }

    .footer_empresa p{
        font-size: 18px;
        font-weight:400;     
    }



    .footer_depositos h3{
        font-size: 22px;
        font-weight: 600;
    }

    .footer_depositos-li{
       font-size: 18px;
       font-weight: 400;  
    }

    .footer_info-iconos p{
        font-size: 22px; 
        font-weight: 600;
    }

    .footer_derechos{
        font-size: 16px;
        margin-top: 15px;
    }

  
    .social-icon {
        font-size: 28px;   
    }

    

}




@media screen and (min-width: 1024px) {


    .nabvar{
        height: 7.5%;
        padding: 0 80px;
    }

    .logo{
        max-width: 70px;    
    }
    
    .img_banner{
        width: 100%;
        height: 70vh;
        object-fit: cover;
        object-position: center;
    }

    .boton_banner{
        bottom: 15px;
        right: 30px;
        width: 170px;
        font-size: 14px;
    }

    .nabvar_logo_nombre {
        font-size: 20px ; 
    }

    .navbar_elementos-li a{
        text-decoration: none ;  /* saca subrallado li */
        color: white;
    }

    .nabvar_abrir-menu{
        display: none;
    }

    .navbar_elementos{
        opacity: 1;    /* para que se vea porque clase visible esta en etiqueta ul */
        position: static;
        padding: 0;
        box-shadow: none; 
        gap: 0;
        background-color: transparent;
        visibility: visible;
    }

    .navbar_elementos-li{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .navbar_cerrar{
        display: none;
    }





    
    .empresa{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: calc(100% - 170px); 
        margin: 0 auto;
    }

    .empresa_info {     
        display: flex;
        flex-direction: column;
        width: 60%;
      
    }

    .empresa_info-titulo{
        margin: 20px 0 5px 0;
    }

    .empresa_info-descripcion {
        width: 90%;
        margin: 0 0 10px 0;
        font-size: 18px;
    }

    .empresa_info-descripcion-iconoTexto {  
        display: flex;
        align-items: center; 
        width: 90%;
        gap: 20px;
        margin-left: 0;
            
        font-family: "Crimson Text", serif;
        font-weight: 400;
        font-style: normal;
    }

    .empresa_info-descripcion-iconoTexto span {  
        font-size: 16px;
    }

    .empresa_descripcion-icono{
        font-size: 30px;
        vertical-align: middle; /*alinear icono con el texto */
    }


    .empresa_div {
        width: 50%;
        height: auto; /* si pongo 100 se achica el hijo */
        display: flex;
        flex-direction: column;
        margin-top: 30px;
       
    }
    
    .empresa_div-img {
        width: 100%;
        height: 95%;
        object-fit: cover;  
        object-position: left top; /* Elegir qué parte del cover quieres que se vea de la imagen */
    }
    
    .empresa_div-img-boton {
        bottom: 35px;
        right: 10px;    
        padding: 0.8vh 1vw;
        width: 200px;
        font-size: 14px;
    }





    .servicios_contenedor{
        padding-bottom: 40px;
    }

    .servicios_titulo{
        padding: 20px 0 10px 0;
        text-align: center;
        font-size: 30px;
        font-family: "Crimson Text", serif;
        font-weight: 700;
        font-style: normal;
    }
    
    .servicios{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: stretch;  /* hace que se estire el hijo y ocupe todo contenedor */
      
        
        height: 100%;
        width: 100%;
        width: calc(100% - 150px);  /* es menos porque interfiere el calc de abajo */
        margin: 0 auto;
    }
    
    .servicios_card{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0px 0px 40px 0px;
        width: calc(50% - 20px);   /* anulo el margin que son 20 al medio y queda mismo ancho mi calc de arriba*/
        height: auto;
        margin: 10px;
    }

    .servicios_card-img{
        width: 100%;
        height: auto;
        object-fit: cover;  
        object-position: top; /* Elegir qué parte del cover quieres que se vea de la imagen */
    }

    .servicios_card-img-texto{
        padding: 0 10px;
        width: 100%;
        font-size: 16px;
        font-family: "Crimson Text", serif;
        font-weight: 400;
        font-style: normal;
        text-align: left;
    }

    .servicios_card-img-texto h3{
        font-size: 20px;
        text-align: center;
    }




      
    
    .img_camion{
        width: 100%;
        text-align: center;
        position: relative;
    }


    .img_camion-c1{
        width: 100%;
        height: 80%;
        object-fit: cover;
        object-position: bottom;
        opacity: 0.6;
        filter: blur(2px)
    }

    .img_camion-titulo,
    .img_camion-texto{
        position: absolute;
        left: 12%;
        top: 20%;
        color: black;
        font-size: 22px;
        padding: 10px;
        font-family: "Crimson Text", serif;
        font-weight: 700;
        font-style: normal;
        text-align: left;
    }

    .img_camion-texto{
        left: 12%;
        top: 32%;
        font-size: 16px;
        font-weight: 600;
    }

    .img_camion-boton{
        position: absolute;
        left: 12%;
        top: 48%;
        border-radius: 60px;
        font-size: 14px;
        font-weight: 600;
        padding: 1vh 2vw;
        cursor: pointer;
        background-color: white;
        border: 2px solid black;
        box-shadow: 0 0 0 0 black;
        transition: all 0.3s ease-in-out;
        width: 170px;
    }

    .img_camion-boton:hover{
        transform: translateY(-4px) translateX(-2px);
        box-shadow: 2px 5px 0 0 black;
    }

    .img_camion-boton-1{
        color: black;
        text-decoration: none;
    }




    .contactanos{
        width: calc(100% - 700px);
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .contactanos_titulo{
        font-size: 30px
    }

    .contactanos_boton{
        width: 16%;
        font-size: 16px;
      }



    .whatsapp-icon{
        width: 58px;
        height: 61px;
    }




 
    
    .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
       
        padding: 0 0;
    }

    .footer_arriba{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100%; 
        padding: 20px 
    }


    .footer_empresa{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }



    .footer_logo{
        width: 28%;
        height: 28%;
    }


    .footer_empresa h3{
        font-size: 24px;
        font-weight: 600; 
    }

    .footer_empresa p{
        font-size: 18px;
        font-weight:400;     
    }



    .footer_depositos h3{
        font-size: 22px;
        font-weight: 600;
    }

    .footer_depositos-li{
       font-size: 18px;
       font-weight: 400;  
    }
    



    .footer_info{
        display: flex;
        flex-direction: column;
    }
  

    .footer_info-iconos{
       margin-bottom: 0px ;
    }

    .footer_info-iconos p{
        font-size: 22px; 
        font-weight: 600;
    }


    .footer_abajo{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%; 
        padding: 16px ;
    }

    
    .footer_derechos{
        font-size: 16px;
        margin-top: 15px;
    }


  
    .social-icon {
        font-size: 28px;   
    }

   


}


