*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;   
}

main{
    width: 100%;
    height: 100%;
}



.nabvar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 100;
    padding: 4vw;
    background-color: #BABFC0;
}

.img{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 10px 30px 10px;
}


.img_banner{
    width: 100%;
    height: auto;
}

.boton_banner{
    position: absolute;
    bottom: 20px;
    right: 36px;
    
    color: white;
    border-radius: 20px;
    font-size: 10px;
    font-weight: 600;
    padding: 1vh 2vw;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

}


.boton_banner:hover{
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
  }
  



/* No se porque si no pongo ambos no funciona */
.boton_banner-texto a{
    color: black;
    text-decoration: none;
  
}

.boton_banner-texto {
    color: black;
    text-decoration: none;
}


.nabvar_abrir-menu, .navbar_cerrar{
    display: block;
    margin-right: 20px;
    width: 8vw;
    height: 4vh;
    font-size: 20px;
    border: 0;
    background-color:#4163A2;
    color:white;
    cursor: pointer;
    border-radius: 10px;
}

.nabvar_abrir-menu{
    font-size: 25px;
    color: white;
}

.navbar_cerrar{
    color:#ececec
}


.logo{
    max-width: 20vw ;
    max-height: 16vh;
}

.nabvar_logo_nombre {
    display: flex;
    align-items: center;
    gap: 10px; 
}


.navbar_elementos{
    opacity: 0;
    visibility: hidden; 

    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;         /* par que el background llegue abajo */
    padding: 10%;
    background-color: #1c1c1c ;
    box-shadow: 0 0 0 100vmax rgba(0,0,0, .5);        /* Extiende toda la pantalla dejando el navb con mas imp */
    gap: 3vh;
}


.navbar_elementos.visible{
    opacity: 1;
    visibility: visible ;
}


.navbar_elementos-li{
    list-style-type: none; /* saca punto li */
    display: flex;
    flex-direction: column;
  
    gap: 4vw;
    font-size: 20px;
}


.navbar_elementos-li a{
    text-decoration: none ;  /* saca subrallado li */
    color: white;
}






.empresa{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 70px;
   
}

.empresa_titulo{
    margin: 50px 0 10px 10px;
    text-align: left;
}

.empresa_descripcion{
    text-align: left;        
    font-size: 14px;
    margin: 0 10px 10px 10px;

}

.empresa_img{
    width: 100vw;
    height: auto;
  
}


.empresa_texto-img {
    position: absolute;
    bottom: 20px;
    right: 30px;
    
    color: black;
    border-radius: 20px;
    font-size: 10px;
    font-weight: 600;
    padding: 1vh 2vw;
    cursor: pointer;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 0 0 0 black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;

}
    





.servicios{
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 0;
    height: 100%;
    background-color: #f7f7f9;
    width: 100%;

}

.servicios_titulo{
    margin: 40px 0 0 10px;
    text-align: center;
}



.servicios_card{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 16px 10px 40px 10px;
    background-color: #f7f7f9;
  
}

.servicios_card h3{
    padding-bottom: 6px;
}

.servicios_card img{
    margin-bottom: 12px;
    width: 100%;
    height: auto;
    object-fit: cover; /* Ajusta la imagen para que se recorte si es necesario */
}

.servicios_card p{
    text-align: center;
}




  
.img_camion{
    width: 100%;
    text-align: center;
    position: relative;
}


.img_camion-c1{
    max-width: 100%;
    height: auto;
    opacity: 0.9;
   
}

.img_camion-titulo,
.img_camion-texto{
    position: absolute;
    left: 5%;
    top: 4%;
    color: black;
    font-size: 20px;
    padding: 10px;
}

.img_camion-texto{
    top: 20%;
    left: 0%;
    font-size: 14px;
    font-weight: 600;
    
}



.servicios_boton-1{
    position: absolute;
    bottom: 18%;
    left: 38%;
    color: black;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    padding: 1vh 2vw;
    cursor: pointer;
    background-color: white;
    border: 2px solid black;
    box-shadow: 0 0 0 0 black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    width: 30%;
}

.servicios_boton-1:hover{
    transform: translateY(-4px) translateX(-2px);
    box-shadow: 2px 5px 0 0 black;
  }
  
  





.depositos{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.depositos_titulo{
    margin-left: 15px;
    margin-bottom: 20px;
}

.depositos_ubi{
    margin-bottom: 16px;
    padding: 10px;
}

.depositos_ubi-titulo{
    margin-bottom: 16px;
}

.depositos_ubi-info{
    margin-bottom: 16px;
}

.bi-buildings{
    margin-right: 10px;
    
}


.contactanos{
    display: flex;
    flex-direction: column;

}

.contactanos_titulo{
    margin: 10px 15px 5px 15px;

}

.contactanos_consulta{
   height: auto;
   min-height: 100px;
   text-align: left;


}


.contactanos_nombre,
.contactanos_tel,
.contactanos_email,
.contactanos_consulta,
.contactanos_boton{
    font-size: 14px;
    padding: 6px;
    margin: 15px 15px 0 15px;
}


.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 15px 0 15px;
    text-align: center;
}

.footer_logo{
    max-width: 32% ;
    max-height: 22%;
    margin-top: 30px;
}


footer p{
    margin: 0 15px 20px 15px;
}

.footer_iconos{
    margin: 0 10px 20px 10px; 
}

.social-icon {
    font-size: 30px; 
    margin: 0 10px 20px 10px;
  
}



@media screen and (min-width: 768px) {

    .nabvar_abrir-menu{
        display: none;
    }

    .navbar_elementos{
        position: static;
        padding: 0;
        box-shadow: none; 
        gap: 0;
        background-color: transparent;
        visibility: visible;
    }

    .navbar_elementos-li{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .navbar_elementos-li a{
        text-decoration: none ;  /* saca subrallado li */
        color: black;
    }

    .navbar_cerrar{
        display: none;
    }

 

}