
<!DOCTYPE html> 

<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Logistica El Rayo</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link href="/home.css" rel="stylesheet">
       

    </head>

    <body>
        <main>
            <header>
                <section class="nabvar">
                    <div class="nabvar_logo_nombre"> 
                        <img class="logo"  src="/imagenes/Logo.png" alt="Logo Logistica El Rayo"> 
                        <p>Logistica El Rayo</p>
                    </div>

                    <button class="nabvar_abrir-menu" id="abrir"> <i class="bi bi-list"></i> </button>

                    <nav class="navbar_elementos visible" id="nav">
                            <button class="navbar_cerrar" id="cerrar"> <i class="bi bi-x-lg"></i> </button>
                            <ul class="navbar_elementos-li">
                                <li><a href="#">Inicio</a></li>
                                <li><a href="#">Empresa</a></li>
                                <li><a href="#">Servicios</a></li>
                                <li><a href="#">Contacto</a></li>
                            </ul>
                    </nav>
                </section>

                <section class="img">              
                    <img class="img_banner" src="/imagenes/banner1.jpg">
                    <div class="boton_banner">
                            <a href="/products/cart" class="boton_banner-texto">Solicitar Cotización</a>
                    </div>
         
                </section>

                <section>       
                    <h2 class=" empresa_titulo"> Conoce nuestra compañia</h2>
                    <article class="empresa">
                        <p class="empresa_descripcion">Somos una empresa de logística con sede en Buenos Aires, Rosario, Córdoba, Catamarca y La Rioja. Ofrecemos transporte de carga completa o fraccionada, control de stock, almacenamiento y entregas a destino, con envíos contra reembolso. Nos especializamos en brindar asesoramiento personalizado, optimizando el manejo de mercancías y garantizando un servicio de calidad adaptado a cada cliente.</p>

                        <img class="empresa_img" src="/imagenes/home1.jpg" alt="Imagen de distribución de mercaderia"> 
                        <p class="empresa_texto-img"> Servicio De Confianza <i class="bi bi-check-lg"></i></p>     


                    </article>         
                </section>

                <section>
                    <div class="servicios">

                    </div>
                </section>


                    
                    
                
            </header>
          
        </main>
       <script src="/js/home.js"></script>
    </body>


</html>


