
<!DOCTYPE html> 

<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Landing Page</title>
        <link href="../public/home.css" rel="stylesheet">
    </head>

    <body>
        <main>
            <header>
                <nav class="navbar ">
                    <div class="navbar_logo"> Logoooosdf </div> 
                    <ul class="navbar_ul">
                        <li > Empresa </li>
                        <li> Servicio </li>
                        <li> Contactosdf </li>
                    </ul>
                </nav>
            </header>
          
        </main>
       
    </body>


</html>


